modules = ["python-3.11"]
run = "python3 main.py"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python3 main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "wespolzespol"

[[workflows.workflow]]
name = "test"
mode = "sequential"
author = 16609480

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[workflows.workflow]]
name = "wespolzespol"
mode = "sequential"
author = 42570524

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 wespolzespol.py"
